@model AllArticleCommentsQueryModel

@{
    ViewBag.Title = "Всички Коментари";
}

@{
    var comment = Model.ArticleComments.FirstOrDefault(r => r.UserId == User.Id());
}

@if (!Model.ArticleComments.Any())
{
    <h2 class="text-center">Няма намерени коментари за</h2>
    <h2 class="text-center text-success">"@Model.ArticleTitle!"</h2>
    <div class="text-center mb-2 mt-4">
        <a asp-controller="Article" asp-action="AddComment" asp-route-id="@Model.ArticleId" class="btn btn-success btn-lg">Добави Коментар</a>
    </div>
}
else
{
    <hr />

    <h2 class="text-center">Всички Коментари за</h2>
    <h2 class="text-center">"@Model.ArticleTitle"</h2>

    <form method="get" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Търси...">
            </div>

            <div class="form-group col-md-2">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Най-скоро добавени</option>
                    <option value="1">Най-късно добавени</option>
                </select>
            </div>

            <div class="col-md-1 d-flex align-items-end">
                <input type="submit" value="Търси" class="btn btn-success w-100" />
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-1 mt-3">
        @if (comment == null)
        {
            <h2 class="text-center">Моят Коментар</h2>
            <div class="text-center mb-4 mt-4">
                <a asp-controller="Article" asp-action="AddComment" asp-route-id="@Model.ArticleId" class="btn btn-primary btn-lg">Добави Коментар</a>
            </div>
        }
        else
        {
            <h2 class="text-center">Моят Коментар</h2>
            <partial name="_ArticleCommentPartial" model="@comment" />

            if (Model.ArticleComments.Count() == 1)
            {
                <h4 class="text-center text-secondary" style="margin-top: 50px;">За момента никой друг не е добавял коментар за тази статия!</h4>
            }
            else
            {
                @foreach (var currentComment in Model.ArticleComments)
                {
                    @if (currentComment.UserId == User.Id())
                    {
                        continue;
                    }
                    <h2 class="text-center">Други Коментари</h2>
                    <partial name="_ArticleCommentPartial" model="@currentComment" />
                }
                <partial name="_ArticleCommentPagesPartial" model="@Model" />
            }
        }
    </div>
}