@model ArticleViewModel
@inject IPublisherService publisherService

@{
    ViewBag.Title = "Статии";
    CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("en-EN");
}

<div class="container text-center mt-5">
    <div class="card">
        <div class="card-body">
            <img src="@Model.ImageUrl" alt="Article Image" class="img-fluid mb-3" />
            <h2 class="card-title">@Model.Title</h2>
            <p class="card-text"><strong>Публикувана:</strong> @Model.DatePublished.ToString("dd/MM/yyyy HH:mm")</p>
            <p class="card-text"><strong>Прочитания:</strong> @Model.ViewsCount</p>

            <div class="container-sm">
                <p>@Html.DisplayFor(model => model.Content)</p>
            </div>

            <div class="text-center mt-1">
                <a asp-controller="Article" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Обратно към Всички Сататии</a>
            </div>

            @if (await publisherService.ExistsByIdAsync(User.Id()))
            {
                <hr />
                <div class="d-flex justify-content-center mt-1">
                    <a asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-1 me-1 me-md-2 w-100 p-3 fw-bold">Редактирай</a>
                    <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-1 me-1 me-md-2 w-100 p-3 fw-bold">Изтрий</a>
                </div>
            }
        </div>
    </div>
</div>