@model ArticleCommentEditViewModel

@{
    ViewBag.Title = "Редактирай Коментар";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="EditComment" method="post">
            <input type="hidden" asp-for="ArticleId" value="@Model.ArticleId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit"><bold>Заглавие</bold></label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit"><bold>Описание</bold></label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @{
                    var id = Model.ArticleId;
                }
                <a asp-controller="Article" asp-action="AllComments" asp-route-id="@id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Обратно към Всички Коментари</a>
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Редактирай" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}