@model ArticleServiceModel

@{
    CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("en-EN");
}

<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card h-100 text-center">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Article Image">
        <div class="card-body">
            <h4 class="card-title"><strong>@Model.Title</strong></h4>
            <p class="card-text"><strong>Публикувана:</strong> @Model.DatePublished.ToString("dd/MM/yyyy")</p>
            <p class="card-text"><strong>Прочитания:</strong> @Model.ViewsCount</p>
        </div>
        <a asp-controller="Article" asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetArticleInformation()" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Прочети повече</a>
    </div>
</div>