@model BookEditViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit"><bold>Заглавие</bold></label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Author" class="form-label-add-edit"><bold>Автор</bold></label>
                <input asp-for="@Model.Author" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Author" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit"><bold>Резюме</bold></label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Pages" class="form-label-add-edit"><bold>Брой Страници</bold></label>
                <input asp-for="@Model.Pages" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Pages" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PublishingHouse" class="form-label-add-edit"><bold>Издателска Къща</bold></label>
                <input asp-for="@Model.PublishingHouse" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.PublishingHouse" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label-add-edit"><bold>Цена</bold></label>
                <input asp-for="@Model.Price" class="form-control" placeholder="14.50" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.YearPublished" class="form-label-add-edit"><bold>Година на Публикуване</bold></label>
                <input asp-for="@Model.YearPublished" class="form-control" placeholder="2024" />
                <span asp-validation-for="@Model.YearPublished" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit"><bold>Корица (Линк към снимка)</bold></label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CoverTypeId" class="form-label-add-edit"><bold>Корица</bold></label>
                <select asp-for="@Model.CoverTypeId" class="form-control" aria-required="true">
                    <option disabled selected value="">Избери Вид Корица...</option>
                    @foreach (var category in Model.CoverTypes)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CoverTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label-add-edit"><bold>Жанр</bold></label>
                <select asp-for="@Model.GenreId" class="form-control" aria-required="true">
                    <option disabled selected value="">Избери Жанр...</option>
                    @foreach (var category in Model.Genres)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.GenreId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <a asp-controller="Book" asp-action="All" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Обратно към Всички</a>
                <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Редактирай" />
            </div>
        </form>
    </div>
</div>