@model BookServiceModel

<div class="col mb-4">
    <div class="card h-100 text-center">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Book Image">
        <div class="card-body">
            <h4 class="card-title"><strong>@Model.Title</strong></h4>
            <p class="card-text"><strong>Автор:</strong> @Model.Author</p>
            <p class="card-text"><strong>Цена:</strong> @Model.Price лв.</p>
        </div>
        <a asp-controller="Book" asp-action="Details" asp-route-information="@Model.GetInformation()" asp-route-id="@Model.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Виж Повече</a>
    </div>
</div>