@model EventServiceModel

@{
    CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("en-EN");
}

<div class="card mb-4">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image">
    <div class="card-body">
        <h4 class="card-title"><strong>@Model.Topic</strong></h4>
        <p class="card-text"><strong>Локация:</strong> @Model.Location</p>
        <p class="card-text">
            <strong>Начало:</strong> @Model.StartDate.ToString("dd/MM/yyyy HH:mm")
        </p>
        <p class="card-text">
            <strong>Край:</strong> @Model.EndDate.ToString("dd/MM/yyyy HH:mm")
        </p>
        @if (DateTime.Now < Model.StartDate)
        {
            <p class="card-text"><strong>Свободни Места:</strong> @Model.Seats</p>
            <p class="card-text"><strong>Цена:</strong> @Model.TicketPrice лв.</p>

            @if (Model.Seats < 10 && Model.Seats > 0)
            {
                <h5 class="card-text text-danger"><strong>ПОСЛЕДНИ БРОЙКИ БИЛЕТИ!</strong> Вземи своя преди да са свършили!</h5>
            }
        }
    </div>
    <a asp-controller="Event" asp-action="Details" asp-route-information="@Model.GetInformation()" asp-route-id="@Model.Id" class="btn btn-warning mb-1 w-100 p-3 fw-bold">Виж повече</a>

    @if (DateTime.Now < Model.StartDate && Model.Seats > 0)
    {
        <a asp-controller="Event" asp-action="BuyTicket"  asp-route-id="@Model.Id" class="btn btn-success mb-1 w-100 p-3 fw-bold">Вземи билет</a>
    }
</div>