@model AllBooksQueryModel

@{
    ViewBag.Title = "Всички книги";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center mb-4">
    <a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg">Добави книга</a>
</div>

<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Genre"></label>
            <select asp-for="Genre" class="form-control">
                <option value="">Всички</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre">@genre</option>
                }
            </select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="CoverType"></label>
            <select asp-for="CoverType" class="form-control">
                <option value="">Всички</option>
                @foreach (var coverType in Model.CoverTypes)
                {
                    <option value="@coverType">@coverType</option>
                }
            </select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Търси...">
        </div>

        <div class="form-group col-md-2">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0">Най-скоро добавени</option>
                <option value="1">По Заглавие</option>
                <option value="2">По Автор</option>
                <option value="3">По Цена</option>
            </select>
        </div>

        <div class="col-md-1 d-flex align-items-end">
            <input type="submit" value="Search" class="btn btn-primary w-100" />
        </div>
    </div>
</form>

@if (!Model.Books.Any())
{
    <h2 class="text-center">Няма намерени книги!</h2>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5">
        @foreach (var book in Model.Books)
        {
            <partial name="_BookPartial" model="@book" />
        }
    </div>
}

<partial name="_BookPagesPartial" model="@Model" />